body {
	text-align: center;
	width: 80%;
	margin-top: 0;
}
a:link {
	text-decoration: none;

}
a:hover {
	color: #efefef;
	background-color: blue;
}
a:active{
	padding-left: 5px;
	padding-right: 5px;
}
ul {
	border: 2px solid blue;
	padding-left: 0;


}
li {
	list-style: none;
	display: inline;
	padding-right: 3em;
	padding-left: 1em;
	font-size: 30px;

	

	/*align-content: stretch;*/ 
}